#projects {
  .project {
    @include breakpoint(default) {
      margin-left: 1rem;
    }

    h4 {
      margin-bottom: 1rem;
    }

    p {
      @include breakpoint(default) {
        margin-left: 1.5rem;
      }
    }
  }
}
