---
title: Fluid CSS Tertiary Navigation
date: 07/04/2013
tags: css
---

<h3>The Problem</h3>
<p>
I recently fixed a navigation issue at work that involved a tiered, CSS-driven dropdown/flyout menu. The menu worked properly using the CSS :hover selector but it <strong>did not support localization well</strong> and because of that, the CSS used "worse-case" hard-coded widths to ensure all locales were supported. In languages where the navigation text was much shorter than the "worse-case", the second tier of the menu used a width much too large for the text.
</p>

<h3>The Solution</h3>
<p data-height="268" data-theme-id="0" data-slug-hash="AkJze" data-default-tab="result" class='codepen'>
  See the Pen <a href='http://codepen.io/chrisronline/pen/AkJze/'>AkJze</a> by Chris Roberson (<a href='http://codepen.io/chrisronline'>@chrisronline</a>) on <a href='http://codepen.io'>CodePen</a>.
</p>
<p>
I designed a fluid-width, CSS-based tertiary menu system that contains no hard-coded widths or assumptions about sizing.
</p>
<figure id="solution_1">
  <a href="./images/blog/tertiary_nav/solution_1.png">
    <img src="./images/blog/tertiary_nav/solution_1.png" alt="How the worse case scenario looked in the new CSS"/>
  </a>
</figure>
<figure id="solution_2">
  <a href="./images/blog/tertiary_nav/solution_2.png">
    <img src="./images/blog/tertiary_nav/solution_2.png" alt="Another part of the menu system in the new CSS, episode guide, season 2"/>
  </a>
</figure>

<h3>Build</h3>
<p>
Let's go through the process of building this menu from scratch but first, let's define some goals
</p>

<h4>Goals</h4>
<p>
<ol>
  <li>No explicit widths</li>
  <li>Support in IE8, Chrome, Safari and Firefox</li>
  <li>No javascript</li>
</ol>
</p>

<h4>Basic</h4>
<p>
We will start by providing some barebones HTML for the menu
</p>
<figure id="barebones_html">
  <pre class="language-markup"><code class="language-markup">&lt;ul class="primary"&gt;
  &lt;li&gt;&lt;a href="#"&gt;home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;characters&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;media&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;episode guide&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</figure>
<p>
Now let's apply some basic CSS to create a horizontal menu
</p>
<figure id="barebones_css">
  <pre class="language-css"><code class="language-css">ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: normal 16px Tahoma;
}
li {
  padding: 0.4em;
  margin: 0.4em 0;
  float: left;
}</code></pre>
</figure>

<h4>Secondary Navigation</h4>
<p>
Now, let's add a secondary navigation menu for 'characters'. Considering accessibility concerns, a solid approach is to nest another list within the list item tag so a device that renders this without any styles will show a nice, tiered list.
</p>
<figure id="secondary_html">
  <pre class="language-markup"><code class="language-markup">&lt;li&gt;
  &lt;a href="#"&gt;characters&lt;/a&gt;
  &lt;ul class="secondary"&gt;
    &lt;li&gt;&lt;a href="#"&gt;michael scott&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;jim halpert&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;dwight schrute&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;pam beasley&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/li&gt;</code></pre>
</figure>
<p>
But wait! Nesting a block-level element in a fluid container will cause the container to expand its width to contain the new element which in turns increases the width of the primary navigation element. There is no fix for that, sorry...
</p>
<p>
...
</p>
<p>
...
</p>
<p>
Okay obviously there is a fix and that fix is
</p>
<figure id="secondary_html_fix">
  <pre class="language-css"><code class="language-css">ul.secondary {
  position: absolute;
}</code></pre>
</figure>
<p>
This accomplishes two things:
<ol>
  <li>The HTML layout ignores the element when positioning everything</li>
  <li>The original positioning of the ul.secondary element is not changed</li>
</ol>
</p>
<p>
The secondary navigation list is supposed to be vertical and since our tertiary navigation list will be the same, change the styling for all lis and then override the one for the primary navigation bar.
</p>
<figure id="secondary_html_li">
  <pre class="language-css"><code class="langauge-css">li {
  padding: 0.4em;
  margin: 0.4em 0;
}
.primary > li {
  float: left;
}</code></pre>
</figure>
<p>
Note that the selector for the primary navigation bar only targets children li elements and does not consider further descendants which is important because secondary and tertiary menus are all children of .primary
</p>

<h4>Tertiary Navigation</h4>
<p>
Now that we have a working secondary navigation level, let's investigate the tertiary level. Using the exact same approach as the secondary menu, we will nest another list within a secondary list item.
</p>
<figure id="tertiary_html">
  <pre class="language-markup"><code class="language-markup">&lt;ul class="secondary"&gt;
&lt;li&gt;
  &lt;a href="#"&gt;michael scott&lt;/a&gt;
  &lt;ul class="tertiary"&gt;
    &lt;li&gt;&lt;a href="#"&gt;bio&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;pictures&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;video&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;contact&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="clear"&gt;&lt;/div&gt;
&lt;/li&gt;</code></pre>
</figure>
<p>
Add the same positioning to the tertiary list as the secondary list
</p>
<figure id="tertiary_html_fix">
  <pre class="language-css"><code class="language-css">ul.tertiary {
  position: absolute;
}</code></pre>
</figure>
<p>
Uh...that did not work as well as last time.
<figure id="tertiary_absolute_problem">
  <a href="./images/blog/tertiary_nav/tertiary_absolute_problem.png">
    <img src="./images/blog/tertiary_nav/tertiary_absolute_problem.png" alt="The output of setting position:absolute for the tertiary list"/>
  </a>
</figure>
</p>
<p>
The problem is that .tertiary is positioned in relation to the same container as .secondary. It does not appear in the exact same position because if you simply assign an element position:absolute, it appears in the normal flow of the page.
</p>

<p>
The solution is to set the left position of the tertiary element to 100% which will push it back to the original horizontal position before applying the position:absolute
</p>
<figure id="tertiary_absolute_solution">
  <pre class="language-css"><code class="language-css">ul.tertiary {
  position: absolute;
  left: 100%;
}</code></pre>
</figure>
<figure id="tertiary_absolute_solution">
  <a href="./images/blog/tertiary_nav/tertiary_absolute_solution.png">
    <img src="./images/blog/tertiary_nav/tertiary_absolute_solution.png" alt="The output of fixing the absolute issue with left:100%"/>
  </a>
</figure>

<h3>Final</h3>
<p>
We're nearly there, but the tertiary navigation container is not correctly positioned. We can see this clearly if add some color into our navigation bar.
</p>
<figure id="final_color">
  <pre class="language-css"><code class="language-css">li {background-color: yellow; }
a { background-color: pink; }
.primary { background-color: green; }
.secondary { background-color: orange; }
.tertiary { background-color: blue; }</code></pre>
</figure>
<figure id="final_top_position_problem">
  <a href="./images/blog/tertiary_nav/final_top_position_problem.png">
    <img src="./images/blog/tertiary_nav/final_top_position_problem.png" alt="The teritary container is mispositioned"/>
  </a>
</figure>

<p>
The top section of the tertiary container still appears relative to the original placement in the page (under the a tag) so simply give it a top:0 and it will position at the top.
</p>
<figure id="final_positioning_fix">
  <pre class="language-css"><code class="language-css">ul.tertiary {
  position: absolute;
  left: 100%;
  top: 0;
}</code></pre>
</figure>
<p>
which then results in:
</p>
<figure id="tertiary_top_0">
  <a href="./images/blog/tertiary_nav/tertiary_top_0.png">
    <img src="./images/blog/tertiary_nav/tertiary_top_0.png" alt="The teritary container is now properly aligned at the top"/>
  </a>
</figure>
</p>
<p>
The tertiary container is now correctly placed! Let's hook up the CSS hover functionality and add some more content
</p>
<figure id="final_css_hover">
  <pre class="language-css"><code class="language-css">ul {
  display: none;
}

ul.primary,
ul.primary li:hover ul.secondary,
ul.secondary li:hover ul.tertiary {
  display: block;
}</code></pre>
</figure>
<p>
Everything looks great at first glance, but there are two issues with the tertiary navigation containers...
</p>
<figure id="final_whitespace_problem">
  <a href="./images/blog/tertiary_nav/final_whitespace_problem.png">
    <img src="./images/blog/tertiary_nav/final_whitespace_problem.png" alt="Whitespace issue with a tertiary link"/>
  </a>
</figure>
<figure id="final_relative_problem">
  <a href="./images/blog/tertiary_nav/final_relative_problem.png">
    <img src="./images/blog/tertiary_nav/final_relative_problem.png" alt="Second tertiary navigation container appears in the same location as the first one"/>
  </a>
</figure>
<p>
The first fix involves the <em>white-space</em> CSS property and setting this property to 'nowrap' causes the browser to ignore any space limitations on the parent container and allows its content to flow on a single line. This will fix our issue in modern browsers (IE8+)
</p>
<p>
The second fix is a positioning issue because the nearest relative positioned element for the second tertiary container to position itself to is the same as the first tertiary container - we just need to make the <em>lis</em> position:relative. However, this reintroduces the top positioning issue but we can easily fix that by setting the top property equal to the padding of the <em>lis</em>
</p>
<figure id="final_whitespace_solution">
  <a href="./images/blog/tertiary_nav/final_whitespace_solution.png">
    <img src="./images/blog/tertiary_nav/final_whitespace_solution.png" alt="Whitespace issue with a tertiary link is now fixed"/>
  </a>
</figure>
<figure id="final_relative_solution">
  <a href="./images/blog/tertiary_nav/final_relative_solution.png">
    <img src="./images/blog/tertiary_nav/final_relative_solution.png" alt="Second tertiary navigation container appears in the correct location"/>
  </a>
</figure>
<p>
The last remaining issue is a small offset for the top of the secondary navigation containers in relation to the parent <em>lis</em> in the primary navigation. The fix is super simple:
</p>
<figure id="final_secondary_offset_fix">
  <pre class="language-css"><code class="language-css">ul.secondary {
  position: absolute;
  top: 100%;
}</code></pre>
</figure>

<h3>All Done</h3>
<p>
Whew...finally done! We now have a fluid, CSS-only navigation bar that supports secondary and tertiary levels of navigation!
</p>

<h3>Credits</h3>
<p>
I'd like to thanks <a href="https://twitter.com/alexandraatzl">Alexandra Atzl</a> for pointing out a few issues with my original solution
</p>
