ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: normal 16px Tahoma;
}

li {
  padding: 0.4em;
  margin: 0.4em 0;
}

.primary > li {
  float: left;
}

ul.secondary {
  position: absolute;
}