ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font: normal 16px Tahoma;
  display: none;
}

ul.primary, ul.primary li:hover ul.secondary, ul.secondary li:hover ul.tertiary {
  display: block;
}

li {
  padding: 0.4em;
  margin: 0.4em 0;
  white-space: nowrap;
  position: relative;
}

.primary > li {
  float: left;
}

ul.secondary {
  position: absolute;
  top: 100%;
  left: 0.4em;
}

ul.tertiary {
  position: absolute;
  left: 100%;
  top: -0.4em;
}

li {background-color: yellow; }
a { background-color: pink; }
.primary { background-color: green; }
.secondary { background-color: orange; }
.tertiary { background-color: blue; }