---
title: blog
---
<header>
  <h2>Thoughts</h2>
</header>

<!-- <h3>Tags</h3>
<ul class="tags">
  {{#blog.tags}}
  <li>
    <a data-tag="{{tag}}">{{tag}}</a>
  </li>
  {{/blog.tags}}
</ul>

<h3>Posts</h3> -->
<ul class="posts">
  {{#blog.posts}}
  <li class="post" data-tags="{{tags}}">
    <header>
      <h5>
        <i class="fa fa-calendar"></i>
        <span>{{date}}</span>
      </h5>
      <h4>
        <a href="#blog/post/{{id}}">{{title}}</a>
      </h4>
    </header>
    <article id="{{id}}" data-navigate="blog/post/{{id}}" data-blog-post>
      {{{content}}}
    </article>
  </li>
  {{/blog.posts}}
</ul>
