.container > header {
  text-align: right;

  h1 {
    margin: 0;
  }

  nav {
    font-size: 1.2rem;
  }

  @include clear();

  li {
    display: block;
    margin: 0.5rem 0;
  }
  a {
    font-size: larger;
    display: inline-block;
    border-bottom: solid 2px transparent;
    padding: 0.3rem;
    transition: color 0.5s;
  }

  a:hover {
    color: $darkerGreen;
    text-decoration: none;
  }
  a.active {
    color: $darkerGreen;
    border-bottom-color: $green;
  }

  ul:last-child {
    margin-top: 2rem;
    li {
      display: inline-block;
    }
    span {
      display: none;
    }
  }

  @include breakpoint(small) {
    margin: 0;
    text-align: left;
    padding: 1rem;
    li {
      display: inline-block;
      vertical-align: middle;
    }
    ul {
      text-align: center;
    }
    ul:last-child {
      margin-top: 0;
    }
  }
}
