@import "../../../../scss/variables";

.content {
  // position: relative;
}

.tooltip-wrapper {
  display: inline;
  position: relative;
  cursor: pointer;
  border: dotted 2px black;
}

.tooltip {
  position: absolute;
  white-space: nowrap;
  width: max-content;
  border-color: $green;
  text-align: center;
  background-color: pink;
}